$r: (
	".radioIconForeground-2BMavi",
	// Radio options
	".bar_bfac79" // Sticker slot boost tier
);

$rx: (
	".slider__87bf1 rect",
	// Toggle slider
	".bd-switch-handle",
	// BD toggle slider
	".container-yn4cwV rect",
	// Stage moderator badge
	".noItemsIcon_e335a7 rect",
	// Subscriptions no items icon
	".noItemsIcon__70151 rect" // Subscriptions no items icon
);

@each $selector in $r {
	#{$selector} {
		r: var(--squared-radius);
	}
}

@each $selector in $rx {
	#{$selector} {
		rx: var(--squared-radius);
	}
}
