.activitySectionAssets__00943 .largeImageMask__00943,
.assetsLargeMaskActivityFeed__2ef49,
.assetsLargeMaskBiteSizePopout_c1d9fd,
.assetsLargeMaskProfile_c1d9fd,
.assetsLargeMaskProfileV2_c1d9fd,
.assetsLargeMaskSimplifiedProfile_c1d9fd,
.assetsLargeMaskStreamPreview__2ef49,
.assetsLargeMaskUserPopout_c1d9fd,
.assetsLargeMaskUserPopoutV2_c1d9fd,
.assetsLargeMaskVoiceChannel__2ef49,
.assetWrapperMasked__31fc2,
.avatar_ef4a91,
.inspectedIndicator_c6367b,
.loadingIndicator__31fc2,
.partyMember_e45a82,
.partyMember_b1fb0b,
.voiceSectionGuildImage__00943,
.voiceSectionNoGuildImageWrapper__00943,
foreignObject[mask*="url(#"] {
	mask: none;
	-webkit-mask: none;
	border-radius: var(--squared-radius);
}
